*{
    margin: 0px;padding: 0px;box-sizing: border-box;font-size: 25px;font-weight: bolder;font-family: cursive;
}
body{
    width: auto;
}

.container{
color: rgb(90, 15, 230);
background-color: rgba(110, 216, 48, 0.664);
width: auto;
height: 100vh;
display: grid;
justify-content: center;
align-items: center;
place-items: center;
}

.main{
color: rgb(209, 22, 22);
background-color: rgba(216, 87, 27, 0.616);
width: 500px;
height: 50vh;
display: grid;
justify-content: center;
align-items: center; 
place-items: center;
}

 .center1{
    color: rgb(41, 30, 196);
    background-color:rgba(11, 11, 112, 0.849) ;
    width: 30vh;height: 30vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    /* align-items: center; */
}  

.center2, .center3{
    color: rgb(41, 30, 196);
    background-color:rgba(32, 236, 14, 0.842) ;
    width: 20vh;height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}